<div><br>

  <cite>Submitted by:  {{model.author}}</cite>
<h3>{{model.title}}</h3>
<h5>{{model.date_added}}</h5>
<br>{{model.note}}
</div>

<button class="btn btn-danger"{{action 'deleteQuestion' model}}>Delete Question</button>
{{answer-list model=model}}
{{new-answer addAnswer="addAnswer"}}
{{update-question updateQuestion='updateQuestion' questionParams=model}}
